body {
    background-color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 70px; 
    background: -webkit-linear-gradient(left, #FFA500, #32CD32, #00CED1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.title {
    margin-bottom: 34px;
    margin-top: 64px;

}
.btn {
    padding: 10px 45px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 550;
    font-size: 20px;
    cursor: pointer;
    line-height: 30px;
    transition: all .5s;

}
.blue {
    background: #6CE3DF;
    border: 3px solid #48D1CC;
}
.orange {
    background: #FEC968;
    border: 3px solid #FDA505;
}
.green {
    background: #3CB371;
    border-radius: 30px ;
}
.green:hover {
    background: #dae6e6;
    color: #3CB371;
}
.blue:hover {
    background: #48D1CC;
    border: 3px solid #6CE3DF;
}
.orange:hover {
    background: #FDA505;
    border: 3px solid #FEC968;
}
/* home layout */

.home-layout {
    margin-left: 69px;
}
.home-layout p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    height: 209px;
    width: 870px;
}

/* pagenav layout */
.arrow {
    padding: 40px;
    cursor: pointer;
    transition: all .5s;
}
.arrow img:hover {
    transform: scale(1.03);
    transition: all .5s;
    border-radius: 10px;
    background: transparent;
    box-shadow: rgb(238, 225, 225) 1px 2px 1px;
}
/* tabel data layout */
table {
    border: 1px solid white;
    color: white;
}
th {
    background: #4FCF9E;
    padding: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.4); 
}
td {
    background: #B0E0CE;
    padding: 20px;
    text-align: center;
}
